@import url("vendor/bootstrap.css");
/* URLS need to be relative to the css folder these get compiled too */
#mainApp {
  width: 800px;
  background: #2e6da4;
  margin: 50px auto 0 auto;
  padding: 20px 30px;
}
#mainApp h1 {
  color: #fff;
}
